@model mvc_parte3.Models.Datos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mostrarProducto</title>
</head>
<body>
    <div> 
        <h3>Producto</h3>
        <label>Descripción es:@Model.descripcion <br /></label>
        <label>Precio es:@Model.precio <br /></label>
        <label>Cantidad es:@Model.cantidad <br /></label>
    </div>
</body>
</html>
