@model mvc_parte1.Models.Persona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Persona</title>
</head>
<body>
    <div> 
        <label>Mi Nombre es: @Model.nombre </label> <br />
        <label>Mi Apellido es: @Model.apellido </label> <br />
        <label>Mi Edad es: @Model.edad </label> <br />
    </div>
</body>
</html>
